/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply hover:animate-pulse hover:underline focus:animate-pulse focus:underline transition-all text-gray-700 cursor-pointer no-underline text-xl;
}

.nav-link:hover {
  color: #364DC4;
}

.nav-link:focus {
  color: #364DC4;
}

.dot {
  @apply float-left bg-gray-700 -ml-2 -mt-1.5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.prose-h2 {
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5m;
  line-height: 1.1111111;
}

.logo {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -4px 4px #A5B4FC, -8px 8px #6EE7B7, -12px 12px #364dc4
}
